body{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

/* Header */
.header{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    font-style: italic;
}
.header .itensDireita{
    display: flex;
    gap: 15px;
}
.header .itensDireita a{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border: 2px solid #033175;
    border-radius: 5px;
}
.header .itensDireita a span{
    color: #033175;
}
.header .itensDireita .btnCart{
    padding: 0 40px;
    border: none;
    background: #16302B;
}
.header .itensDireita .btnCart span{
    color: white;
}
/* Fim Header */


/* Main */
main{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 1200px;
    margin-top: 30px;
}
    /* Banner Principal */
    main .bannerPrincipal{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 108px;
        background: rgba(0, 0, 0, 0.384);
        color: rgb(61, 61, 61);
    }


    /* Botão Buscar */
    main .btnBuscar{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: white;
        padding: 10px 0;
        background: #16302B;
        font-size: 20px;
        font-weight: 600;
    }

    /* Seção Categorias */
    main .categorias{
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        overflow: auto;
    }
    main .categorias a{
        display: flex;
        width: fit-content;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    main .categorias a .icon{
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.39);
    }
    main .categorias a .icon span{
        color: rgba(0, 0, 0, 0.658);
    }
    main .categorias a p{
        max-width: 77px;
        font-size: 13px;
        text-align: center;
        color: rgba(0, 0, 0, 0.644);
        font-weight: 500;
    }
    main .categorias .btnPrincipal .icon{
        background: #16302B;
        border: none;
    }
    main .categorias .btnPrincipal .icon span{
        color: white;
    }


    /* Seção Mais Pedidos */
    main .maisPedidos{
        width: 100%;
        max-width: 1200px;
        background: #16302B;
        padding: 15px;
        border-radius: 20px 20px 0 0;
    }
    main .maisPedidos header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
    }
    main .maisPedidos header .itensEsquerda{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    main .maisPedidos header .itensEsquerda h2{
        font-weight: 600;
    }
    main .maisPedidos header a{
        color: white;
        font-weight: 500;
    }

        /* Produto */
        main .maisPedidos > .produto{
            display: flex;
            align-items: center;
            background: white;
            gap: 20px;
            padding: 15px;
            border-radius: 10px;
        }
        main .maisPedidos .produto img{
            width: 200px;
            min-width: 200px;
            height: 200px;
        }
        main .maisPedidos .produto .titleProduto{
            max-width: 500px;
            height: 85px;
            font-size: 35px;
            font-weight: 400;
            overflow: hidden;
            line-height: 40px;
        }
        main .maisPedidos .produto .infoProduto .tagCategoria{
            width: fit-content;
            display: flex;
            gap: 6px;
            justify-content: center;
            border-radius: 20px;
            background: #16302B;
            padding: 0 20px;
        }
        main .maisPedidos .produto .infoProduto .tagCategoria p{
            font-size: 13px;
            color: white;
        }
        main .maisPedidos .produto .infoProduto .tagCategoria span{
            display: flex;
            align-items: center;
            font-size: 15px;
            font-weight: 200;
            color: white;
        }
        main .maisPedidos .produto .infoProduto > div{
            height: fit-content;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        main .maisPedidos .produto .infoProduto > div > div{
            width: 45%;
            height: fit-content;
            display: flex;
            flex-direction: column;
        }
        main .maisPedidos .produto .infoProduto > div > div p{
            height: fit-content;
            display: flex;
            align-items: flex-end;
        }
        main .maisPedidos .produto .infoProduto .codProduto{
            display: flex;
            gap: 2px;
            font-size: 20px;
            position: relative;
            top: -4px;
        }
        main .maisPedidos .produto .infoProduto > div > div > span{
            display: flex;
            gap: 2px;
            font-size: 25px;
        }
        main .maisPedidos .produto .infoProduto > div > div > span h4{
            position: relative;
            top: -4px;
        }




/* Fim Main

/* Media */

@media(max-width: 1200px){
    main .maisPedidos{
        width: calc(100% + 30px);
        position: relative;
        left: -15px;
    }
}

@media(max-width: 768px){
    main .maisPedidos > .produto{
        gap: 10px;
        padding: 10px;
    }
    main .maisPedidos .produto img{
        width: 150px;
        min-width: 150px;
        height: 150px;
    }
    main .maisPedidos .produto .titleProduto{
        height: 65px;
        font-size: 25px;
        line-height: 30px;
    }
    main .maisPedidos .produto .infoProduto .tagCategoria{
        gap: 8px;
        padding: 0 15px;
    }
    main .maisPedidos .produto .infoProduto .tagCategoria p{
        font-size: 13px;
    }
    main .maisPedidos .produto .infoProduto .tagCategoria span{
        font-size: 13px;
        font-weight: 200;
    }
    main .maisPedidos .produto .infoProduto .codProduto{
        font-size: 15px;
    }
    main .maisPedidos .produto .infoProduto > div > div > span{
        font-size: 20px;
    }
}



@media(max-width: 540px){
    .header > h1{
        font-size: 20px;
    }
    .header .itensDireita a{
        height: 45px;
        padding: 0 15px;
    }
    .header .itensDireita .btnCart{
        padding: 0 30px;
    }

    main .maisPedidos .produto img{
        width: 100px;
        min-width: 100px;
        height: 100px;
    }
    main .maisPedidos .produto .titleProduto{
        height: 52px;
        font-size: 22px;
        line-height: 25px;
    }
    main .maisPedidos .produto .infoProduto .tagCategoria{
        gap: 6px;
        padding: 0 15px;
    }
    main .maisPedidos .produto .infoProduto .tagCategoria p{
        font-size: 10px;
    }
    main .maisPedidos .produto .infoProduto .tagCategoria span{
        font-size: 10px;
        font-weight: 200;
    }
    main .maisPedidos .produto .infoProduto > div{
        margin-top: 10px;
    }
    main .maisPedidos .produto .infoProduto .codProduto{
        font-size: 11px;
    }
    main .maisPedidos .produto .infoProduto > div > div > span{
        font-size: 16px;
    }
    main .maisPedidos .produto .infoProduto > div > div > p{
        font-size: 12px;
    }
}


@media(max-width: 450px){
    main .maisPedidos .produto img{
        width: 100px;
        min-width: 100px;
        height: 100px;
        background: green;
    }
    main .maisPedidos .produto .titleProduto{
        height: 42px;
        font-size: 18px;
        line-height: 20px;
    }
}
@media(max-width: 403px){
    main .maisPedidos > .produto{
        gap: 5px;
        padding: 5px;
    }
    main .maisPedidos .produto img{
        width: 70px;
        min-width: 70px;
        height: 70px;
    }
    main .maisPedidos .produto .titleProduto{
        height: 42px;
        font-size: 15px;
        line-height: 20px;
    }
    main .maisPedidos .produto .infoProduto .tagCategoria{
        gap: 3px;
        padding: 0 10px;
    }
    main .maisPedidos .produto .infoProduto .tagCategoria p{
        font-size: 7px;
    }
    main .maisPedidos .produto .infoProduto .tagCategoria span{
        font-size: 7px;
        font-weight: 200;
    }
    main .maisPedidos .produto .infoProduto > div{
        margin-top: 5px;
    }
    main .maisPedidos .produto .infoProduto .codProduto{
        font-size: 7px;
    }
    main .maisPedidos .produto .infoProduto > div > div > span{
        font-size: 12px;
    }
    main .maisPedidos .produto .infoProduto > div > div > p{
        font-size: 9px;
    }
}
